.header {
  position: fixed;
  display: flex;
  background-color: lightblue;
  z-index: 200;
  align-items: center;
}
.block {
  position: relative;
  font-size: 18px;
  left: 20px;
  width: 214px;
  margin: 10px;
}
.reset-button {
  background-color: rgb(238, 127, 127);
  color: black;
  font-weight: bold;
  height: 30px;
  width:90px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  font-family: Arial;
  font-size: 17px;
  cursor: pointer;
}
#word-topic {
  width: 100px;
  background: rgb(212, 212, 76);
  height: 30px;
  font-family: Arial;
  font-size: 15px;
}
#level-selected {
  width: 100px;
  background: rgb(243, 144, 219);
  height: 30px;
  font-family: Arial;
  font-size: 15px;
}
